.Links {
  color: black
}

.Links:hover {
  color: red
}

.HeaderLinks {
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  font-size: 200%;
  align-content: center
}
