.Links {
  color: black;
  text-align: center;
}

.Links:hover {
  color: red
}

.HeaderLinks {
  display: flex;
  background-image: linear-gradient(to right, white,yellow,gold, brown);
  font-size: 125%;
  align-content: center;
  overflow: -moz-hidden-unscrollable;
  width: 100%;
}
