.Background  {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  flex: 1 0 auto;
  background: url(../img/machu-picchu.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  position: fixed
}

.formNAF {
  display: center;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 200% 
}

.divNAF {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  flex: 1 0 auto;
  background: url(../img/Venice.jpeg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  position: fixed
}
